html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#sketch_location.center{
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  padding: 10px;
  border: 1px solid black;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}